
#result{
    padding-left: 30px;
    font-weight: bold;
    font-size: medium;
}

.banner{
    background-color: green;
    width:580px;
    height:100px;
    position: relative;
    
}

h1{
    color: white;
    font-size: 50px;
    font-family: 'Times New Roman';
    padding-left: 50px;
    padding-top: 20px;

}

#dictionary{
    width: 580px;
    background-color: gold;
    position: relative; 
    height: 600px;
    margin:auto;
}

p{
    padding-left: 30px;
}

button{
    border-radius: 10px 10px;
    width: 150px;
    height: 30px;
    position: relative;
}

#search{
    width: 170px;
    height:30px;
    border-radius: 10px 10px;
}